*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poor Story', cursive;
  font-family: 'Roboto Mono', monospace;
background-color: #ffffff;
display: flex;
flex-direction: column;
color: #0b1a2f;
}
header{
  font-family: Georgia,Arial, Helvetica, sans-serif;
  background-color: rgb(11, 26, 47);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  padding:16px;
  color:#ffffff;
}

.input{
  display:block;
  padding: 12px;
}
input{
  height: 36px;
  width: 100%;
  border-radius: 24px;
  padding: 8px;
  margin: 8px 0;
  text-align: center;
}
#modal-container{
  margin-top:24px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color:rgb(11, 26, 47);
  padding: 18px 32px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  font-size: 16px;
  color:#ffffff;
}
#book-form{
  display:flex;
  flex-direction: column;
}
#submit-btn{
  padding-bottom: 1em;
  background-color: #6184D8;
  border: 2px solid black;
  width:12em;
  align-self: center;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
#submit-btn:hover,
#submit-btn:active{
background-color:  rgba(29, 50, 99, 0.719);
}



input[type="checkbox"]{
  height:20px;
  width:20px;
  margin-left: 4px;
  background-color: #6184D8;  
}

#is-read-toggle{
  display: inline;
}
.is-read{
  margin-bottom: 16px;
  display:flex;
  align-items: center;
  
}


.hidden-content{
  display:none;
}
.add-btn{
  margin-top: 24px;
  align-self: center;
  
}
.add-btn > button{
  font-size: 24px;
  border: none;
  outline: none;
  text-decoration: none;
  padding: 12px;
  background-color: aliceblue;
  font-weight: bold ;
  cursor: pointer;
  color: #ffffff;
  background-color: #6184D8;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(11, 26, 47, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.3)
}
.add-btn > button:hover,
.add-btn > button:active{

  background-color:  rgba(29, 50, 99, 0.719);
  
  
};
